*{

box-sizing:border-box;

user-select:none;

}



html,
body{

width:100%;
height:100%;

margin:0;

background:#111;

font-family:Arial, sans-serif;

color:white;

overflow:hidden;

touch-action:manipulation;

}




.menu{


height:100%;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;


}



h1{


font-size:7vh;

margin-bottom:8vh;

text-align:center;


}




.buttons{


width:80%;

display:flex;

flex-direction:column;

gap:4vh;


}





.mode{


height:14vh;


border:none;

border-radius:25px;


font-size:5vh;

font-weight:bold;


color:white;


}





.sprint{


background:#d32f2f;


}





.start{


background:#f9a825;

color:black;


}




.points{


background:#2e7d32;


}





.mode:active{


transform:scale(0.96);


}